<ion-view title="Desafio Creado" hide-nav-bar="true" id="page11" style="background-color:#6BBECC;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h2 id="desafioActual-heading8" style="color:#000000;font-weight:600;text-align:center;">Desafio actual</h2>
    <h2 id="desafioActual-heading2" style="color:#2C2121;text-align:center;">Aceptó:</h2>
    <ion-list id="desafioActual-list13">
      <ion-item id="desafioActual-list-item25">Usuario 1</ion-item>
    </ion-list>
    <h2 id="contador">00:00</h2>
    <div id="ver-resultado" class="button-bar">
      <button id="button-ver-resultado" class="button button-balanced  button-block" disabled="true" ng-click="resultado()">Ver Resultado...</button>
    </div>
  </ion-content>
</ion-view>