<ion-view title="Desafios" id="page9" style="background-color:#6BBECC;">
  <ion-content padding="true" class="has-header">
    <div id="desafios-container2">
      <div class="spacer" style="width: 300px; height: 24px;"></div>
      <ion-list id="desafios-list9">
        <ion-item class="item-avatar" id="desafios-list-item18">
          <h2>Desafio 1</h2>
          <p>Dura 5 minutos</p>
        </ion-item>
        <ion-radio id="desafios-radio5">Aceptar por §1</ion-radio>
      </ion-list>
    </div>
    <div id="desafios-container3">
      <div class="spacer" style="width: 300px; height: 24px;"></div>
      <ion-list id="desafios-list10">
        <ion-item class="item-avatar" id="desafios-list-item19">
          <h2>Desafio 2</h2>
          <p>Dura 30 segundos.</p>
        </ion-item>
        <ion-radio id="desafios-radio6">Aceptar por §100</ion-radio>
      </ion-list>
    </div>
    <div id="desafios-container4">
      <div class="spacer" style="width: 300px; height: 24px;"></div>
      <ion-list id="desafios-list11">
        <ion-item class="item-avatar" id="desafios-list-item20">
          <h2>Desafio 3</h2>
          <p>Dura 1 hora</p>
        </ion-item>
        <ion-radio id="desafios-radio7">Aceptar por §1000</ion-radio>
      </ion-list>
    </div>
    <button id="desafios-button5" style="font-weight:600;" class="button button-energized  button-block">Aceptar desafio</button>
  </ion-content>
</ion-view>