<ion-view title="Desafio Aceptado" hide-nav-bar="true" id="page13" style="background-color:#6BBECC;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h2 id="desafioAceptado-heading7" style="color:#000000;font-weight:600;text-align:center;">Desafio aceptado</h2>
    <h2 id="desafioAceptado-heading4" style="color:#2C2121;text-align:center;">Creador</h2>
    <ion-list id="desafioAceptado-list15">
      <ion-item id="desafioAceptado-list-item31">Usuario 0</ion-item>
    </ion-list>
    <h2 id="desafioAceptado-heading3" style="color:#2C2121;text-align:center;">Aceptaron</h2>
    <ion-list id="desafioAceptado-list14">
      <ion-item id="desafioAceptado-list-item28">Usuario 1</ion-item>
      <ion-item id="desafioAceptado-list-item29">Usuario 2</ion-item>
      <ion-item id="desafioAceptado-list-item30">Usuario 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>